---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Skills from '../components/sections/Skills.astro';
import Experience from '../components/sections/Experience.astro';
import Projects from '../components/sections/Projects.astro';
import Freelance from '../components/sections/Freelance.astro';
import Blog from '../components/sections/Blog.astro';
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<About />
		<Skills />
		<Experience />
		<Projects />
		<Freelance />
		<Blog />
	</main>
</Layout>
